<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

  <%= form_with scope: :user, url: "/users/verify_login" ,:method=>"post" do |f| %>
    <div class="form-outline mb-4">
      <%= f.label :email,:class=>"form-label" %>
      <%= f.text_field :email,:class=>"form-control form-control-lg"  %>
    </div>
    <div class="form-outline mb-4">
      <%= f.label :password,:class=>"form-label"  %>
      <%= f.password_field :password,:class=>"form-control form-control-lg"  %>
    </div>
    <!--    <div class="d-flex justify-content-between align-items-center">-->


    <div class="d-flex justify-content-between align-items-center">
      <!-- Checkbox -->
      <div class="form-check mb-0">
        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
        <label class="form-check-label" for="form2Example3">
          Remember me
        </label>
      </div>
      <a href="/users/forgot_password_new" class="text-body">Forgot password?</a>
    </div>

    <div class="text-center text-lg-start mt-4 pt-2">

      <%=  f.submit :Login, class: 'btn btn-primary btn-lg',:style=>"padding-left: 2.5rem; padding-right: 2.5rem;" %>
      <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/users/signup_new"
                                                                        class="link-danger">Register</a></p>
    </div>

  <% end %>

</div>